/*
__________The-uCSS__________
_________Frameworkk_________
Created by The-UCS-Variable
__________v0.0.13___________
____________________________
*/

html{
  scroll-behavior: smooth;
  box-sizing: border-box;
}

* {
  font-family: monospace;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
  margin: 0;
}

/*--------------------------------------------*/
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

p, a, pre{
  font-size: 14px;
  margin: 0;
}

a{
  text-decoration: none;
  outline: none;
}

button{
  outline: none;
  border: none;
  cursor: pointer;
}

textarea {
  resize: vertical;
  overflow: auto;
}

code{
  font-size: 12px;
}

.u-box{
  margin: 0 auto;
  padding: 5px;
}





/*
------------------------------------------------
Colors: {
  crimson ,
  hsl(51, 100%, 59%) - bright yellow

}


ToDo: {
  minified version of uCSS,

}


Version: {
  0-1: Intial Versions
  1-X: Development Versions
}
*/